{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>COMP 353/453 - Database Programming</h3>
      <br/>
      <h4>Group-2 Database Project</h4>
      <h4>(Library Management System)</h4>
      <br/>
      <img src="{{url_for('static', filename='book.png')}}" width="500" height="500" />
      <br/><br/>
      <br/>
      <h4>Group-2 Members</h4>
      <h5>Ayo Adesola<br/>Ridwan ...<br/>Olamide ...</h5>
      <br/>
      <h4>Loyola University Chicago</h4>
      <h4>December, 2021</h4>
    </div>
  </div>
</article>
{% endblock content %}
